div {
    box-shadow: 4px 4px 14px #ccc;
    padding: 10px;
}
h1 {
    font-family:cursive;
    color: brown;
}
h4 {
    font-family:cursive;
    color:blanchedalmond;
    text-shadow:2px 0 4px #000;
}